/*
filename: [LE TIEN DUNG]
author: [LE TIEN DUNG]
created: [20/2/2025]
last modified: [20/2/2025]
description: [lab04.html]
*/

h1 { color: purple; font-size: 2em; font-weight: bold; }

* {
    font-family: calibri, sans-serif;
    color: #2F4F4F;
}

h2 {
    color: rgb(0,128,128);
    font-weight: bold;
    font-size: 1.5em;
}

aside, footer { font-style: italic; }
h1, h2, h3 { font-family: Arial; }

table, th, td { border: 1px solid black; text-align: center; }

#images { text-align: center; }

#Heading3 { color: red; }

.special { color: darkorange; font-weight: bold; }

/* Right-align Jan and Feb table headings */
.month-align { text-align: right; }

/* Navigation styles */
nav a {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: 4px solid black;
}

nav a:hover {
    background-color: lightblue;
    border-color: darkblue;
    transition: 1s;
}

nav a:visited {
    color: darkgray;
}

nav a:focus {
    background-color: lightgray;
}

/* Lists */
ol { list-style: lower-roman; }
ul { list-style: square; }

/* Hide aside on hover */
aside:hover { visibility: hidden; }
